PORT=4000
NODE_ENV=development
JWT_SECRET=change_me_in_production

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=tn15

# CORS
WEB_ORIGIN=http://localhost:5173
ADMIN_ORIGIN=http://localhost:5174

